* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #e9ecef;
}
nav {
  font-size: 35px;
}
.nav{
  display: none;
}
.nav .badge {
  background: #1793FF;
  color: white;
  border-radius: 50%;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

main {
  padding: 10px;
}
@media (min-width: 992px){
  .menu{
    display: none;
  }
  .nav{
    display: flex;
  }
}
@media (min-width: 767px) {
  header {
    height: 7vh;
  }
  header h3 {
    font-size: 48px!important;
  }

  .nav {
    /* margin: auto; */
  }
}