{% extends "auctions/layout.html" %}

{% block body %}
<div class="jumbotron" style="padding: 15%; padding-top: 2%; background: white;">
  <div>
    <center><h1>{{ category }}</h1></center>
    <br>
    <div class="container">
      {% for listing in listings  %}
      <ul>
        <li><a href="listing?q={{ listing.id }}"><h3>{{ listing }}</h3></a></li>
      </ul>
      {% empty %}
      <ul>
        <li>No Listing under this category yet ! <a href="{% url 'createListing' %}"><h3>Create one</h3></a></li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}