{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-7"><center><h2>Active Listings</h2></center></div>
    </div>
</div>
<br>
<div class="jumbotron" style="padding: 15%; padding-top: 2%; background: white;">
    <div class="conttainer-fluid" style="">
        <div class="row">
            <div class="col-md-7">
                <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                    <li>
                        <a href=""><h3>Dell XPS 13 (2020)</h3></a>
                    </li>
                    <li>
                        <h5>$7,000.00</h5>
                    </li>
                    <li>
                        <p>
                            Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                            sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                            commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                        </p>
                    </li>
                    <li>
                        Total Bids:
                        <span class="badge" style=" background: #1793FF; color: white;"> 39</span>  &nbsp;&nbsp;&nbsp; 
                        <a href="" class="btn-sm btn-danger">Bid Now!</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"><img src="https://cdn.mos.cms.futurecdn.net/ezKNonZhQxu2KXuHPq9cj7-970-80.jpg" alt="Dell XPS 13 (2020)" width="100%" height="100%"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                    <li>
                        <a href=""><h3>Nimbuz 2000</h3></a>
                    </li>
                    <li>
                        <h5>$70.00</h5>
                    </li>
                    <li>
                        <p>
                            Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                            sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                            commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                        </p>
                    </li>
                    <li>
                        Total Bids:
                        <span class="badge" style=" background: #1793FF; color: white;"> 130</span>  &nbsp;&nbsp;&nbsp; 
                        <a href="" class="btn-sm btn-danger">Bid Now!</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}



<div class="conttainer-fluid">
    <div class="row">
        <div class="col-md-7">
            <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                <li>
                    <a href=""><h3>Nimbuz 2000</h3></a>
                </li>
                <li>
                    <h5>$70.00</h5>
                </li>
                <li>
                    <p>
                        Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                        sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                        commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                    </p>
                </li>
                <li><span class="badge">13</span> bids</li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr>
</div>