{% extends "auctions/layout.html" %}

{% block body %}
<div class="jumbotron" style="padding: 10%; padding-top: 2%; background: white;">
    <div class="conttainer-fluid">
        <h2 style="margin: 0 0 3% 0;">Active Listings</h2>
        {% for listing in listings %}
        <div class="row">
            {% if listing.item.img_url %}
            <div class="col-md-5">
                <a href="listing?q={{ listing.item.title }}"><img src="{{ listing.item.img_url }}" alt="Dell XPS 13 (2020)" width="100%" height="100%"></a>
            </div>
            {% endif %}
            <div class="col-md-7">
                <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                    <li>
                        <a href="listing?q={{ listing.item.title }}"><h3>{{ listing.item.title }}</h3></a>
                    </li>
                    <li>
                        <h5>${{ listing.starting_bid|floatformat:2 }}</h5>
                    </li>
                    <li>
                        <p>
                            {{ listing.item.description }}
                        </p>
                    </li>
                    <li>
                        Total Bids:
                        <span class="badge" style=" background: #1793FF; color: white;"> 39</span>  &nbsp;&nbsp;&nbsp; 
                        <a href="listing?q={{ listing.item.title }}" class="btn-sm btn-danger">Bid Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <br>
        {% endfor %}
        <!-- <div class="row">
            <div class="col-md-7">
                <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                    <li>
                        <a href="listing?q=TITLE"><h3>Nimbuz 2000</h3></a>
                    </li>
                    <li>
                        <h5>$70.00</h5>
                    </li>
                    <li>
                        <p>
                            Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                            sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                            commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                        </p>
                    </li>
                    <li>
                        Total Bids:
                        <span class="badge" style=" background: #1793FF; color: white;"> 130</span>  &nbsp;&nbsp;&nbsp; 
                        <a href="listing?q=TITLE" class="btn-sm btn-danger">Bid Now!</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
        <hr> -->
    </div>
</div>
{% endblock %}