{% extends "auctions/layout.html" %}

{% block body %}
<div class="containeer">
    <div class="row">
        <div class="col-7"><center><h2>Active Listings</h2></center></div>
    </div>
</div>
<br>

<div class="conttainer-fluid">
    <div class="row">
        <div class="col-md-7">
            <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                <li>
                    <a href=""><h3>Nimbuz 2000</h3></a>
                </li>
                <li>
                    <h5>$70.00</h5>
                </li>
                <li>
                    <p>
                        Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                        sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                        commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4" >img (if any)</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                <li>
                    <a href=""><h3>Nimbuz 2000</h3></a>
                </li>
                <li>
                    <h5>$70.00</h5>
                </li>
                <li>
                    <p>
                        Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                        sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                        commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4" >img (if any)</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <ul style="padding-left: 20px; list-style-type: none; line-height: 2rem;">
                <li>
                    <a href=""><h3>Nimbuz 2000</h3></a>
                </li>
                <li>
                    <h5>$70.00</h5>
                </li>
                <li>
                    <p>
                        Descrption: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur id
                        sapiente natus similique perspiciatis eius consectetur cum cupiditate ex odit, perferendis
                        commodi ratione tempora voluptatem suscipit eos soluta eligendi.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4" >img (if any)</div>
    </div>
    <hr>
</div>
{% endblock %}