{% extends "auctions/layout.html" %}

{% block body %}
<div class="jumbotron" style="padding: 15%; padding-top: 2%; background: white;">
<div>
    <h1>MY WATCHLIST</h1>
    <br>
    <ul class="container">
        {% for listing in listings %}
            <li class="row">
                <div class="col-3">
                    <a href="listing?q={{ listing.item.id }}"><img src="{{ listing.item.img_url }}"
                        alt="{{ listing }}" width="100%" height="100%"></a>
                </div>
                <ul class="col-9" style="list-style-type: none;">
                    <li>
                        <a href="listing?q={{ listing.item.id }}">
                            <h5 style="display: inline;">{{ listing }}</h5>
                        </a>
                    </li>
                    <li>
                        <h6>Current Bid ${{ listing.current_bid |floatformat:2 }}</h6>
                    </li>
                    <li>
                        <span class="btn-sm btn-secondary">Status <i class="fa fa-angle-double-right"></i> <strong style="text-transform: capitalize;">{{ listing.status }}</strong></span>
                        <form action="" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="Lid" id="Lid" value="{{ listing.item.id }}">
                            <button type="submit" class="btn-sm btn-danger">Remove</button>
                        </form>
                    </li>
                </ul>
            </li>
            <hr>
            <br>
        {% empty %}
            <li> There is nothing in your watchlist!</li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}